################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

.vs/
_ReSharper.Caches/

*.suo
packages/

*.csproj.user

*.tmp
bin/
obj/

app.Debug.config
app.Release.config

TestResults/
