<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    
    <!-- App Settings for OAuth-->
    <add key="AppId" value="665B3082-BF7B-4D9D-8CC9-C32514819378"/>
    <add key="AppSecret" value="eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiIsIng1dCI6InotVUk5MW1ZR2cyRE9oVC1kSUw4a3JGX1o3RSJ9.eyJjaWQiOiI2NjViMzA4Mi1iZjdiLTRkOWQtOGNjOS1jMzI1MTQ4MTkzNzgiLCJjc2kiOiIzZmE1YWVlNy1kZWRkLTQ3ZjYtYjMxMy1iMWJkY2ZkODY4NGQiLCJuYW1laWQiOiJlNWU0Y2ZhMS04OTM2LTRmNmMtYjE0Ni04M2U5YmY3NzQ0YjMiLCJpc3MiOiJhcHAudnNvYWxtc3BzLnRmc2FsbGluLm5ldCIsImF1ZCI6ImFwcC52c29hbG1zcHMudGZzYWxsaW4ubmV0IiwibmJmIjoxMzk3NjY4Mzc5LCJleHAiOjE0MjkyMDQzNzl9.TiG2PPxwFS1bzyqRX0NcrQubfFRpytbVofgTjKZD37gx5Q55AM8Jq1WQ51OC5pzSVbbMnmcTesbzP_kQGiJMZAsSXd_eOlWnjzjLbIRmbWAnoHWuB5Z4OcWNKepIshm6ISkuz700b-nFsEB7hB5KEOQqHGT_kTByMfNgWayUZzrCHgyrvnGrIOCz5Tu9DlVPMiAeQVu22Kpdj1XCm2Q-xMH1bpTSvoC2RKw8HYP1AefZwfmyILtin4cYXz7DZG7ZSb9DUG6VvdoDhtpdxqm32oYnW6HkU089tXwI-9OKZ3Qqy-ZHc_1BNGozCmMVI0_fDC95t0Avd52Jk7iNgQ1GHw"/>
    <add key="AuthUrl" value="https://app.vsoalmsps.tfsallin.net/oauth2/authorize"/>
    <add key="TokenUrl" value="https://app.vsoalmsps.tfsallin.net/oauth2/token"/>
    <add key="RedirectUrl" value="https://oauthsample.azurewebsites.net/oauth/authorize"/>
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
