
@{
    ViewBag.Title = "OAuth Sample";
}

<h2>Connect OAuth Sample to VSO</h2>

<p>Click the button below to link this application with VSO!</p>

<form action="OAuth/RequestToken" method="get">
    <button type="submit">Link</button>
</form>

