@{
    ViewBag.Title = "Azure DevOps OAuth Client Sample";

    var missingMsg = "Not set - update web.config";
    var clientAppIdVal = !String.IsNullOrEmpty(ViewBag.ClientAppId) ? ViewBag.ClientAppId : missingMsg;
    var scopeVal = !String.IsNullOrEmpty(ViewBag.Scope) ? ViewBag.Scope : missingMsg;
    var callbackUrlVal = !String.IsNullOrEmpty(ViewBag.CallbackUrl) ? ViewBag.CallbackUrl : missingMsg;
}

<div class="jumbotron">
    <h1>Azure DevOps OAuth Client Sample</h1>
    <p class="lead">This app shows how to authorize a user to authorize an app and then to request an access token to access Azure DevOps on their behalf.</p>
    <p><a href="@Url.Action("Authorize", "OAuth")" class="btn btn-primary btn-large"  >Authorize &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-8">
        <h2>Setup</h2>
        <p>
            Before you start, make sure to:
            <ol>
                <li><a href="https://app.vsaex.visualstudio.com/app/register">Register</a> a client app with Azure DevOps</li>
                <li>Update the web.config of this web app and set the App ID, Scope, App Secret, and Callback URL set in the registered app. The callback URL should be https://<i>site</i>/oauth/callback
                    <ul>
                        <li>App ID: <strong>@clientAppIdVal</strong></li>
                        <li>Scope: <strong>@scopeVal</strong></li>
                        <li>Callback URL: <strong>@callbackUrlVal</strong></li>
                    </ul>
                </li>
            </ol>
        </p>
    </div>
    <div class="col-md-4">
        <h2>Learn about auth in Azure DevOps</h2>
        <p>Azure DevOps supports authorization via OAuth 2.0. Learn more about how you can develop apps that securely access your user's Azure DevOps projects and perform tasks on their behalf.</p>
        <p><a class="btn btn-default" href="https://docs.microsoft.com/en-us/vsts/integrate/get-started/authentication/oauth?view=vsts">Learn more &raquo;</a></p>
    </div>
</div>
