<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
        <!--Azure AD App Registration details-->
        <add key="ida:Tenant" value="[Enter_the_tenant_Id_Here]" />
        <add key="ida:ClientId" value="[Enter_the_Application_Id_Here]" />
      
        <add key="ida:AADInstance" value="https://login.microsoftonline.com/{0}/v2.0" />
      
        <!--URL of Azure DevOps organization-->      
        <add key="ado:OrganizationUrl" value="[Enter_URL_Azure_DevOps_organization]" />

  </appSettings>
</configuration>