<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.AspNet.WebApi.Client" version="5.2.7" targetFramework="net472" />
  <package id="Microsoft.Identity.Client" version="4.46.1" targetFramework="net472" />
  <package id="Microsoft.Identity.Client.Extensions.Msal" version="2.23.0" targetFramework="net472" />
  <package id="Microsoft.IdentityModel.Abstractions" version="6.22.0" targetFramework="net472" />
  <package id="Microsoft.IdentityModel.JsonWebTokens" version="6.22.0" targetFramework="net472" />
  <package id="Microsoft.IdentityModel.Logging" version="6.22.0" targetFramework="net472" />
  <package id="Microsoft.IdentityModel.Tokens" version="6.22.0" targetFramework="net472" />
  <package id="Microsoft.VisualStudio.Services.Client" version="19.212.0-preview" targetFramework="net472" />
  <package id="Microsoft.VisualStudio.Services.InteractiveClient" version="19.212.0-preview" targetFramework="net472" />
  <package id="Newtonsoft.Json" version="13.0.2" targetFramework="net472" />
  <package id="System.IdentityModel.Tokens.Jwt" version="6.22.0" targetFramework="net472" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net472" />
</packages>